<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Портфолио</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">Домой</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">Обо мне</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">Мои проекты</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Секция превью -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Дмитрий Скворцов</h1>
        <p class="home__subtitle">Веб-разработчик, программист на python</p>
      </section>
      <!-- Секция с рассказом о себе -->
      <section class="main__about about" id="about">
        <h2 class="about__title">Обо мне</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            13 лет, живу в России, Челябинск.<br>

            Изучаю python уже почти год, html начал в апреле.<br>
            
            Люблю молосольные огурчики 😋<br>

            <img src="../static/img/me.png" alt='me' width="200" height="400"><br>
            
        </p>
          <img
            class="info-block__img"
            src="../static/img/profile.png"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Секция со скиллами -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">Мои проекты</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <a href="https://github.com/Fareor/botik">
                <img
                  class="skill__img"
                  src="../static/img/discord.png"
                  alt="discord"
                  width="150"
                  height="150"
                />
              </a>
              <p class="skill__info">Нажмите на иконку</span>
            </li>
            <li class="skills-list__skill skill">
              <a href="https://github.com/Fareor/diary">
                <img
                  class="skill__img"
                  src="../static/img/db.webp"
                  alt="SQL"
                  width="150"
                  height="150"
                />
              </a>
              <p class="skill__info">Нажмите на иконку</span>
            </li>
          </ul>
        </form>
      </section>
      <!-- Секция с формой обратной связи -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">Отправить сообщение автору сайта</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
          </label>
          <button class="form__button" type="submit">ОТПРАВИТЬ</button>
        </form>
      </section>
    </main>
    <!-- Подвал для ссылок на соц-сети -->
    <footer>

    </footer>
  </body>
</html>
